
.imgspace{
  float: left;
  margin: 50px;
}
.info{
  color: white;
  margin-top: 50px;
  float: right;
  padding-left: 20px;
  padding-right: : 20px;
  border: 2px solid red;
  background-color: grey;

}
.abtme{
  float: right;
  color: blue;
  margin: 90px;
  margin-top: auto;
}
.myname{
  align-content: center;
}
.love{
  color: orange;
}
#move{
  color: red;
  font-family: serif;
}
