
.imgspace{
  float: left;
  margin: 50px;
}
.info{
  float: right;
  padding-left: 20px;
  border: 2px solid grey;
  margin-top: 50px;
}
.abtme{
  float: right;
  color: blue;
  margin: 90px;
  margin-top: auto;
}
.myname{
  align-content: center;
}
